
@keyframes mooving {

  from {
    transform: translate(0);
  }

  to {
    transform: translate(28.5%);
  }
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: loop 0.3s ease-in 0.1s alternate;
}

@keyframes loop {

  from {
    transform: scale(1,1);
   
  }

  to {
    transform: scale(1.5,1.5);
  }
}

.like-icon.is-liked .sparks {
  fill: var(--sparks-color);
  animation: spark 0.3s ease-in 0.3s alternate ;
 }
 
 @keyframes spark {
 
   from {
     opacity: 0;
   }
 
   to {
     opacity: 1;
   }
 }