
@keyframes mooving {

  from {
    transform: translate(0);
  }

  to {
    transform: translate(28.5%);
  }
}

.like-icon.is-liked .heart {
  transform: scale(1);
  animation: loop 0.3s alternate ease-in;
}

@keyframes loop {

  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

.like-icon.is-liked .sparks {
  animation: spark 0.3s alternate ease-in;
 }
 
 @keyframes spark {
 
   from {
     opacity: 0;
   }
 
   to {
     opacity: 1;
   }
 }
