.page {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  margin: auto 0;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  margin-inline: clamp(0rem, -8.1866rem + 34.9296vw, 23.25rem);
  color: var(--color);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  display: grid;
  gap: 20px;
  grid-template-rows: repeat(3, min-content);
  border: 2px solid var(--color);
  background-color: var(--bg-color);
  margin-block-start: 100px;
  margin-block-end: 100px;
  margin-inline: -2px;
  font-family: var(--font-main);
  font-style: var(--font-style);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  text-transform: var(--text-transform);
}

.header__logo {
  display: grid;
  grid-template-rows: min-content;
  justify-items: center;
  margin-block-start: 136px;
  font-size: var(--font-size-logo);
}

.logo__link {
  text-decoration: none;
}

.logo__link:focus {
  outline: none;
}

.logo__title {
  display: grid;
  justify-items: center;
  font-size: var(--font-title-logo);
}

.header__theme-menu {
  display: grid;
  position: relative;
  justify-content: center;
  margin-block-start: 5px;
  margin-block-end: 22px;
}

.theme-menu__list {
  display: grid;
  gap: 12px;
  margin-inline-start: 20px;
}

.theme-menu__item {
  display: grid;
  justify-items: start;
  font-size: var(--font-size-button);


}

.theme-menu__button {
  text-transform: uppercase;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  border: none;
}

.theme-menu__button:disabled:before {
  content: "▶";
  position: absolute;
  margin-inline-start: -20px;
  animation: mooving 0.5s ease-in-out alternate infinite;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  opacity: 0.6;
  background-color: var(--color);
  transition: all ease 0.3s;
}

.theme-menu__button:focus-visible::after {
  transform: scale(1.1);
  width: 100%;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
  transition: 0.3s ease;
}

.card {
  display: grid;
  margin-inline: -2px;
  gap: 50px;
  grid-template-rows: repeat(8, min-content);
}

.card__item {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  background-color: var(--bg-color);
  border: 2px solid var(--color);
}

.card__item-title {
  padding-block: 5px;
  padding-inline-start: 10px;
  font-family: var(--font-text);
  font-size: var(--font-size-text);
  font-style: var(--font-style);
  font-weight: var(--font-weight-fat);
  line-height: var(--line-height);
}

.card__item-img {
  display: grid;
  position: relative;
  z-index: 0;
  border-top: 2px solid var(--color);
  border-bottom: 2px solid var(--color);
}

.card__item-label {
  display: grid;
  grid-template-rows: 14px;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  position: absolute;
  z-index: 1;
  color: var(--color);
  text-shadow:
    -1px 0 var(--color-label),
    0 1px var(--color-label),
    1px 0 var(--color-label),
    0 -1px var(--color-label);
  font-family: var(--font-main);
  font-size: var(--font-size-button);
  font-style: var(--font-style);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports ((text-stroke: 1px var(--color-label)) or (-webkit-text-stroke: 1px var(--color-label))) {
  .card__item-label {
    -webkit-text-stroke: 1px var(--color-label);
    text-stroke: 1px var(--color-label);
    text-shadow: none;
  }
}

.img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.filter-contrast {
  filter: contrast(80%);
}

.filter-saturate {
  filter: saturate(30%);
}

.filter-invert {
  filter: invert(15%);
}

.filter-grayscale {
  filter: grayscale(50%);
}

.filter-sepia {
  filter: sepia(10%);
}

.filter-hue-rotate {
  filter: hue-rotate(190deg);
}

.filter-blur-invert {
  filter: blur(3px) invert(5%);
}

.filter-invert-hue-rotate {
  filter: invert(15%) hue-rotate(19deg);
}

.card__item-content {
  display: grid;
  margin-block-start: 27px;
  margin-inline: 25px;
  gap: 27px;
  font-family: var(--font-text);
  font-size: var(--font-size-text);
  font-style: var(--font-style);
  font-weight: var(--font-weight);
  line-height: 21px;
}

.card__button {
  display: grid;
  gap: 7px;
  grid-template-columns: repeat(2, min-content);
  align-items: center;
  margin-block-start: 25px;
  margin-block-end: 25px;
  margin-inline-end: 25px;
  justify-content: end;
}

.card__icon-button {
  display: grid;
  align-items: center;
  block-size: 38px;
  inline-size: 39px;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.sparks {
  opacity: 0;
}

.heart .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.heart:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.heart .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.heart:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s linear 0.05s;
}

.heart:active .core {
  fill: var(--sparks-color);
  transition: fill 0.3s linear;
}

.heart:active .main-body {
  fill: var(--sparks-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--sparks-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--sparks-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--sparks-color);
  transition: fill 0.3s linear 0.06s;
}

.contour {
  fill: var(--color-contour);
  transition: fill 0.1s linear;
}

.card__like-button {
  display: grid;
  position: relative;
  grid-template-columns: 126px;
  grid-template-rows: 34px;
  align-items: center;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  border: none;
  border: 2px solid var(--color);
  color: var(--color);
  background-color: var(--bg-color);
  transition: transform 0.3s ease;
}

.hov {
  position: relative;
}

.hov::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
}

.hov:hover::after {
  transform: scaleX(1);
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--color);
}

.button {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(1, minmax(339px, min-content));
  grid-template-rows: repeat(1, minmax(55px, min-content));
  margin-block-start: 54px;
  margin-block-end: 100px;
  margin-inline: auto;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  border: none;
  border: 2px solid var(--color);
  color: var(--color);
  background-color: var(--bg-color);
  transition: 0.3s ease;
}

.button__content {
  display: grid;
  align-items: center;
  gap: 8px;
  justify-content: center;
  grid-template-columns: repeat(2, max-content)
}

.button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--color-hover);
  font-family: var(--font-main);
  font-size: var(--font-size-button);
  line-height: 90%;
}

.button__floppy {
  inline-size: 21px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--color);
}

.dialog {
  display: grid;
  position: fixed;
  inset: 0;
  grid-template-columns: minmax(357px, max-content);
  margin: auto;
  color: var(--color);
  background-color: var(--bg-color);
  font-family: var(--font-main);
  font-size: var(--font-size-button);
  outline: 2px solid var(--color);
  border: none;
  padding: 0;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__form {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 30px;
  margin-inline: 30px;
  margin-block: 30px;
}

.dialog__content {
  display: grid;
  grid-template-columns: min-content minmax(234px, min-content);
  align-items: center;
  gap: 20px;
}

.content__floppy {
  inline-size: 39px;
}

.content__text {
  color: var(--color);
  font-family: var(--font-main);
  font-size: var(--font-size-button);
  font-style: var(--font-style);
  font-weight: var(--font-weight);
  line-height: 150%;
  text-transform: var(--text-transform);
}

.dialog__button {
  inline-size: 100%;
  border: none;
  outline: 2px solid var(--color);
  text-transform: uppercase;
  padding-block: 9px;
  color: var(--color);
  background-color: var(--bg-color);
}

@media (width <=375px) {

  .header {
    margin-inline: 0px;
  }

  .header__logo {
    margin-block-start: 120px;
  }

  .card {
    margin-inline: 0px;
    gap: 48px;
  }

  .card__item-title {
    padding-inline-end: 12px;
  }

  .card__item-label {
    inset-inline-end: 11px;
    inset-block-start: 22px;
  }

  .button {
    grid-template-columns: repeat(1, minmax(306px, min-content));
    grid-template-rows: repeat(1, minmax(80px, min-content));
    margin-block-start: 54px;
    margin-block-end: 102px;
  }

  .button__content {
    display: flex;
    flex-direction: column;
  }

  .button__floppy {
    inline-size: 28px;
  }

  .dialog {
    grid-template-columns: minmax(341px, min-content);
  }

  .dialog__content {
    grid-template-columns: min-content minmax(198px, min-content);

  }

}