/* В этом файле будут храниться все значения переменных в исходном состоянии, 
а так же их изменения в зависимости от ширины устройства */

:root {
  --font-press: 'Press Start 2P';
  --font-inter: 'Inter-Variable';
  --bg-image:
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgba(0 0 0 / 0) 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgba(0 0 0 / 0) 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0, 01%, #1a1a1a 100%);
  --bg-color: #fff;
  --color: #000;
  --font-title-first: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --font-title-second: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --font-size-text: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  --font-size-button: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  --font-style: normal;
  --line-height: normal;
  --font-weight: 400;
  --font-weight-fat: 700;
  --text-transform: uppercase;
  --color-label: #fff;
  --color-hover: #fff;
  --color-contour: #000;
  --color-sparks: red;
}

@media (width <=375px) {

  :root .header {
    outline: none;
    border: 2px solid var(--color);
    margin-block-start: 100px;
    margin-block-end: 100px;
  }

  :root .header__logo-group {
    margin-block-start: 120px;
  }

  :root .card {
    gap: 50px;
  }

  :root .card__item {
    border: 2px solid var(--color);
    outline: none;
  }

  :root .card__item-title {
    padding-block: 5px;
    padding-inline: 10px;
  }

  :root .card__item-label {
    inset-inline-end: 11px;
    inset-block-start: 23px;
  }

  :root .card__item-img {
    outline: none;
    border-block-start: 2px solid var(--color);
    border-block-end: 2px solid var(--color);
  }

  :root .footer__button {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 306px;
    height: 80px;
  }

  :root .button__floppy {
    margin-block-start: 12px;
    margin-inline-start: 0;
    width: 28px;
    height: 28px;
  }

  :root .dialog {
    inline-size: 345px;
    block-size: 199px;
  }
}