
:root {
  --font-main: 'Press Start 2P', 'Arial', sans-serif ;
  --font-text: 'Inter-Variable', 'Arial', sans-serif ;
  --bg-image:
  repeating-linear-gradient(90deg, var(--bg-color-mid) 0 2px, transparent 2px 4px), 
  repeating-linear-gradient(0deg, var(--bg-color-mid)  0 2px, transparent 2px 4px), 
  linear-gradient(to bottom, var(--bg-color-light)0.01%, var(--bg-color-dark) 100%);
  --bg-color-light:#E7E7E7; 
  --bg-color-mid: #d3d3d3;
  --bg-color-dark: #1A1A1A;
  --bg-color: #fff;
  --color: #000;
  --font-size-logo: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --font-title-logo: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --font-size-text: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  --font-size-button: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  --font-style: normal;
  --line-height: normal;
  --font-weight: 400;
  --font-weight-fat: 700;
  --text-transform: uppercase;
  
  --color-label: #fff;
  --color-hover: #fff;
  
  --contour-color: #000;
  --sparks-color: red;
  --accent-color: #000;
  
}

